body{
	cursor: url(img/cur1.png), default;
}
#container{
	float: left;
	border: 5px solid red;
	width:1064px;
	height:650px;
	margin-top: -18px;
}

#layoutMap{
	border: 5px solid green;
	width: 77%;
	height: 78%;
	margin-top: 0px;
	margin-left: 0px;
	float: left;
}

#bground{  
	position: relative;
	margin-top: 0px;
	margin-left: 0px;
	z-index: 0;
	width: 100%;
	height:100%;
}

#layoutStatus{
	border: 5px solid gray;
	width: 21%;
	height: 78%;
	float: left;	
	margin-top: 0px;
	margin-left: 0px;
}

#layoutBattle{
	float: left;
	border: 5px solid pink;
	width: 77%;
	height: 19%;
	margin-top: 0px;
	margin-left: 0px
}

#layoutObjective{
	float: left;
	border: 5px solid brown;
	width: 21%;
	height: 19%;
	margin-top: 0px;
	margin-left: 0px;
}

#bonusArmy{
	float: left;
	border: 2px dashed #FF2400;
	width: 33%;
	height: 100%;
	margin-top: 0px;
	margin-left: 0px;
}

#arena{
	float: left;
	border: 2px dashed #FF2400;
	width: 44%;
	height: 100%;
	margin-top: 0px;
	margin-left: 0px;
}

#diceBattle{
	float: right;
	border: 2px dashed gray;
	width: 20%;
	height: 100%;
	margin-top: 0px;
	margin-right: 0px;
}

#status{
	border: 2px dashed brown;
	width: 99%;
	height: 29%;
	margin-top: 0px;
	margin-left: 0px;
}

#tortapie{
	border: 2px solid green;
	width: 98%;
	height: 36%;
	position: relative;
}

#phases{
	border: 1px dashed red;
	width: 99%;
	height: 15%;
	margin-top: 0px;
	margin-left: 0px;
}

#cards{
	border: 1px dashed red;
	width: 99%;
	height: 18%;
	margin-top: 0px;
	margin-left: 0px;
}

#testa{
	float: right;
}

#layoutBattle{
	/*opacity: 0.1;*/
	
}